* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background: linear-gradient(210.67deg, rgba(59, 2, 191, 0.028) -26.36%, rgba(102, 204, 204, 0.105) 64.78%), #FFFFFF;
}

